/*fonts*/


@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');


/* Hangeul Maruburi Font */
@font-face {
    font-family: 'NanumSquare';
    src: url(./fonts/nanum-square/NanumSquareR.eot);
    src: url(./fonts/nanum-square/NanumSquareR.eot?#iefix) format("embedded-opentype"), 
         url(./fonts/nanum-square/NanumSquareR.woff) format("woff"), 
         url(./fonts/nanum-square/NanumSquareR.ttf) format("truetype");
  }
  
  @font-face {
    font-family: 'NanumSquareL';
    src: url(./fonts/nanum-square/NanumSquareL.eot);
    src: url(./fonts/nanum-square/NanumSquareL.eot?#iefix) format("embedded-opentype"), 
         url(./fonts/nanum-square/NanumSquareL.woff) format("woff"), 
         url(./fonts/nanum-square/NanumSquareL.ttf) format("truetype");
  }
  
  @font-face {
    font-family: 'NanumSquareEB';
    src: url(./fonts/nanum-square/NanumSquareEB.eot);
    src: url(./fonts/nanum-square/NanumSquareEB.eot?#iefix) format("embedded-opentype"), 
         url(./fonts/nanum-square/NanumSquareEB.woff) format("woff"), 
         url(./fonts/nanum-square/NanumSquareEB.ttf) format("truetype");
  }
  
  @font-face {
    font-family: 'NanumSquareB';
    src: url(./fonts/nanum-square/NanumSquareB.eot);
    src: url(./fonts/nanum-square/NanumSquareB.eot?#iefix) format("embedded-opentype"),
         url(./fonts/nanum-square/NanumSquareB.woff) format("woff"), 
         url(./fonts/nanum-square/NanumSquareB.ttf) format("truetype");
  }
  @font-face {
    font-family: 'MaruBuri';
    src: url(./fonts/MaruBuri-Regular/MARUBuriBetaR.woff) format("woff"), 
         url(./fonts/MaruBuri-Regular/MaruBuri-Regular.otf) format("embedded-opentype");
  }


body{
    font-family: 'NanumSquareL';
    /* font-family: 'Do Hyeon', sans-serif; */
}

.nav-item{
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'NanumSquareB';
    font-size: 25px;
}

p{
  font-family: 'Noto Serif KR', serif;
}

h1{
  font-family: 'Gothic A1', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

h3{
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.d2li{
  font-family: 'NanumSquare';
}


@media (max-width: 992px){
  h1{
  font-size: 15px;
  }
}