/*fonts*/


@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');




/* Hangeul Maruburi Font */
@font-face {
    font-family: 'NanumSquare';
    src: url(./fonts/nanum-square/NanumSquareR.eot);
    src: url(./fonts/nanum-square/NanumSquareR.eot?#iefix) format("embedded-opentype"), 
         url(./fonts/nanum-square/NanumSquareR.woff) format("woff"), 
         url(./fonts/nanum-square/NanumSquareR.ttf) format("truetype");
  }
  
  @font-face {
    font-family: 'NanumSquareL';
    src: url(./fonts/nanum-square/NanumSquareL.eot);
    src: url(./fonts/nanum-square/NanumSquareL.eot?#iefix) format("embedded-opentype"), 
         url(./fonts/nanum-square/NanumSquareL.woff) format("woff"), 
         url(./fonts/nanum-square/NanumSquareL.ttf) format("truetype");
  }
  
  @font-face {
    font-family: 'NanumSquareEB';
    src: url(./fonts/nanum-square/NanumSquareEB.eot);
    src: url(./fonts/nanum-square/NanumSquareEB.eot?#iefix) format("embedded-opentype"), 
         url(./fonts/nanum-square/NanumSquareEB.woff) format("woff"), 
         url(./fonts/nanum-square/NanumSquareEB.ttf) format("truetype");
  }
  
  @font-face {
    font-family: 'NanumSquareB';
    src: url(./fonts/nanum-square/NanumSquareB.eot);
    src: url(./fonts/nanum-square/NanumSquareB.eot?#iefix) format("embedded-opentype"),
         url(./fonts/nanum-square/NanumSquareB.woff) format("woff"), 
         url(./fonts/nanum-square/NanumSquareB.ttf) format("truetype");
  }
  @font-face {
    font-family: 'MaruBuri';
    src: url(./fonts/MaruBuri-Regular/MARUBuriBetaR.woff) format("woff"), 
         url(./fonts/MaruBuri-Regular/MaruBuri-Regular.otf) format("embedded-opentype");
  }

body{
    font-family: 'NanumSquareL';
    font-family: 'MaruBuri';
}

nav{
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'NanumSquareB';
}