* {
  list-style: none;
  text-decoration: none;
}

ul {
  margin-left: 0;
}

a.navbar-brand img {
  width: 150px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.6em;
}

.navbar-nav li {
  padding-left: 15px;
}

.container-fluid {
  margin: 0 50px;
}

.d1ul {
  position: relative;
  z-index: 1000;
  bottom: 20%;
}

.d2ul {
  padding-left: 0;
  height: 0;
  overflow: hidden;
}

.d1li.on .d2ul {
  height: 300px;
}

.fb {
  margin: 0 auto !important;
}
