* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1.logo {
  width: 96px;
}

#hd {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 120px;
  z-index: 1000;
  transition: 0.5s;
}

#hd.up {
  transform: translateY(-100%);
}

.portSlide {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 0;
  padding-bottom: 42%;
}

.port1 {
  background-image: url("/img/portfolio/portfolio.jpg");
}

.port2 {
  background-image: url("/img/portfolio/portfolio2.jpg");
}

.port3 {
  background-image: url("/img/portfolio/portfolio3.jpg");
}

@media (max-width: 992px) {
  a.navbar-brand img {
    width: 75px;
  }
  .d1ul {
    top: 0;
    flex-direction: column;
  }
  .d2ul {
    display: none;
  }
  .d1li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .limport {
    display: none !important;
  }
}

@media (max-width: 1280px) {
  .portimg {
    max-width: 100%;
  }
}

.aboutLim h1 {
  text-align: center;
  line-height: 8rem;
}

.aboutLim h3 {
  text-align: center;
}

.about .info {
  line-height: 35px;
}

.aboutimg {
  background: url("/img/about/aboutMe.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

@media (max-width: 767px) {
  .aboutimg {
    background: url("../img/about/aboutMe_mobile.jpg");
    background-size: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    padding: 35%;
  }
  .about-abs {
    position: relative !important;
  }
}

.progress_bar {
  position: relative;
}

.progress_bar .progress_bar_title {
  color: #7d8082;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-transform: uppercase;
}

.progress_bar .progress_number {
  color: black;
  font-size: 24px;
  line-height: 22px;
  font-weight: normal;
  position: absolute;
  top: 0;
  right: 0;
}

.progress_bar .pro-bar {
  background: #d6d9dc;
  margin: 5px 0 20px 0;
}

.progress_bar .progress-bar-inner90 {
  height: 2px;
  width: 90%;
  background: #000000;
}

.progress_bar .progress-bar-inner80 {
  height: 2px;
  width: 80%;
  background: #000000;
}

.progress_bar .progress-bar-inner70 {
  height: 2px;
  width: 70%;
  background: #000000;
}

.progress_bar .progress-bar-inner60 {
  height: 2px;
  width: 60%;
  background: #000000;
}

.progress_bar .progress-bar-inner50 {
  height: 2px;
  width: 50%;
  background: #000000;
}
